<h1>Artist New</h1>

<%= form_for @artist do |form| %>
    <p><%= form.label 'Artist Name' %>
    <br>
    <%= form.text_field :name %></p>
    
    <p><%= form.label 'Artist Bio' %>
    <br>
    <%= form.text_area :bio %></p>
    <%= form.submit %>
    <% end %>